src/main/mule/sandbox-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
<!-- [STUDIO:"sandbox-demoFlow"]	<flow name="sandbox-demoFlow" doc:id="ecaa91e7-9c78-4cb9-9ccf-f9e6563e8ca6" >
		<scheduler doc:name="Scheduler" doc:id="f5e690c6-6f77-4063-9aad-d24e252a9caf" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="39a25814-0990-43ff-be2f-cf56841704bd" message="Starting Flow"/>
		<db:select doc:name="Select" doc:id="74414dcb-8f29-41d7-9c77-b68f021b4e4a" config-ref="crompco_sales_source">
			<db:sql ><![CDATA[SELECT * FROM service.invoice&#93;&#93;></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="2cacf2ab-e97b-4d2a-a84e-9dbb73f5f869" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
&#45;&#45;-
[payload&#93;&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<snowflake:bulk-insert doc:name="Bulk insert" doc:id="80c946ff-7b28-4e03-a99e-29932181c9c0" config-ref="crompco_snowflake">
			<snowflake:sql ><![CDATA[INSERT INTO CROMPCO_DEV.CROMPCO_STAGE.STSAL_INVOICE(invoice_id,entity_id,invoice_number,customer_work_number,invoice_notes,invoice_template_id,customer_contact_id,location_id,file_id,invoice_date,invoice_total,invoice_sub_total,sales_tax,published,closed,create_by,created_at,updated_at,deleted_at)
VALUES(:invoice_id, :entity_id, :invoice_number, :customer_work_number, :invoice_notes, :invoice_template_id, :customer_contact_id, :location_id, :file_id, :invoice_date, :invoice_total, :invoice_sub_total, :sales_tax, :published, :closed, :create_by, :created_at, :updated_at, :deleted_at)&#93;&#93;></snowflake:sql>
		</snowflake:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="abf4b0b1-e4d7-4ebc-99eb-ced75de44f75" message="#[payload&#93;"/>
		<logger level="INFO" doc:name="Logger" doc:id="da5d4b8d-4fa0-47df-a01b-1156b92fee35" message="Completed Successfully"/>
	</flow> [STUDIO] -->
<!-- [STUDIO:"FINANCIAL-LARSON-BKL-GL001"]	<flow name="FINANCIAL-LARSON-BKL-GL001" doc:id="84e9cf0d-cd2a-4329-a598-8f8356d6286c" >
		<scheduler doc:name="Daily" doc:id="e2effb86-3311-40dc-946c-36f4cd404a32" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="MINUTES" />
			</scheduling-strategy>
		</scheduler>
		<try doc:name="Try" doc:id="b2159721-1f0f-4ab6-9b58-5681ded2cb25" >
			<db:select doc:name="Larson_BKL_source" doc:id="83a24573-5199-402f-bf91-954fc2b72281" config-ref="larson_source" >
				<db:sql ><![CDATA[select ACTINDX, ACTNUMBR_1, ACTNUMBR_2, ACTNUMBR_3, ACTNUMBR_4, ACTALIAS, MNACSGMT, ACCTTYPE, ACTDESCR,
                     PSTNGTYP, ACCATNUM, ACTIVE, TPCLBLNC, DECPLACS, FXDORVAR, BALFRCLC, DSPLKUPS, CNVRMTHD, HSTRCLRT,
                     NOTEINDX, CREATDDT, MODIFDT, USERDEF1, USERDEF2, POSTSLSIN, POSTIVIN, POSTPURCHIN, POSTPRIN,
                     ADJINFL, INFLAREV, INFLAEQU, ACCTENTR, USRDEFS1, USRDEFS2, CLEAR_BALANCE, WORKFLOW_STATUS,
                     DEX_ROW_TS, DEX_ROW_ID from BKL.dbo.GL00100&#93;&#93;></db:sql>
			</db:select>
			<ee:transform doc:name="source to stage conversion" doc:id="11f12969-163a-4855-b52c-ee30db22703c" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
				</ee:message>
			</ee:transform>
			<snowflake:bulk-insert doc:name="Loading data from Source to Stage" doc:id="884a70a3-b859-4637-bc26-844b3694cd84" config-ref="larson_snowflake" >
				<snowflake:sql ><![CDATA[INSERT INTO STGFIN_BKLGL00100(ACTINDX, ACTNUMBR_1, ACTNUMBR_2, ACTNUMBR_3, ACTNUMBR_4, ACTALIAS, MNACSGMT, ACCTTYPE, ACTDESCR,
                     PSTNGTYP, ACCATNUM, ACTIVE, TPCLBLNC, DECPLACS, FXDORVAR, BALFRCLC, DSPLKUPS, CNVRMTHD, HSTRCLRT,
                     NOTEINDX, CREATDDT, MODIFDT, USERDEF1, USERDEF2, POSTSLSIN, POSTIVIN, POSTPURCHIN, POSTPRIN,
                     ADJINFL, INFLAREV, INFLAEQU, ACCTENTR, USRDEFS1, USRDEFS2, CLEAR_BALANCE, WORKFLOW_STATUS,
                     DEX_ROW_TS, DEX_ROW_ID)
VALUES(:ACTINDX, :ACTNUMBR_1, :ACTNUMBR_2, :ACTNUMBR_3, :ACTNUMBR_4, :ACTALIAS, :MNACSGMT, :ACCTTYPE, :ACTDESCR,
                     :PSTNGTYP, :ACCATNUM, :ACTIVE, :TPCLBLNC, :DECPLACS, :FXDORVAR, :BALFRCLC, :DSPLKUPS, :CNVRMTHD, :HSTRCLRT,
                     :NOTEINDX, :CREATDDT, :MODIFDT, :USERDEF1, :USERDEF2, :POSTSLSIN, :POSTIVIN, :POSTPURCHIN, :POSTPRIN,
                     :ADJINFL, :INFLAREV, :INFLAEQU, :ACCTENTR, :USRDEFS1, :USRDEFS2, :CLEAR_BALANCE, :WORKFLOW_STATUS,
                     :DEX_ROW_TS, :DEX_ROW_ID)
&#93;&#93;></snowflake:sql>
			</snowflake:bulk-insert>
			<ee:transform doc:name="Stage to raw conversion" doc:id="0711619e-597f-417f-842c-6338e4667b2f" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
				</ee:message>
			</ee:transform>
			<snowflake:execute-script doc:name="Truncate and load BKL_GL00100 to raw" doc:id="0a4c9122-182a-4e55-9ec0-01b48a67e66b" config-ref="larson_snowflake" file="sql/Larson_BKLGL00100.sql" />
			<logger level="INFO" doc:name="Load success message" doc:id="333498e3-0e25-4052-9023-0306a28e8766" message="FINANCIAL-LARSON-BKL-GL00100 Loaded Successfully" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f5df9387-dfa6-413f-892f-76a14331efe2" >
					<logger level="ERROR" doc:name="Error Message" doc:id="8470677a-ca02-4a28-879b-21dac16bdefe" message="FINANCIAL-LARSON-BKL-GL00100 has an error" />
				</on-error-propagate>
			</error-handler>
		</try>
	</flow> [STUDIO] -->
<!-- [STUDIO:"FINANCIAL-LARSON-BKL-GL00105"]	<flow name="FINANCIAL-LARSON-BKL-GL00105" doc:id="f4cd6f0b-0e7d-4c5a-9e27-8a4c4222b01d" >
		<scheduler doc:name="Daily" doc:id="e69563cc-d60b-45eb-8057-0eaa58979bb8" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="MINUTES" />
			</scheduling-strategy>
		</scheduler>
		<try doc:name="Try" doc:id="d42b367c-4567-42d2-84ee-096932bf59e4" >
			<db:select doc:name="Larson_Source" doc:id="cc88c043-a398-47c6-9376-aef6e111297c" config-ref="larson_source" >
				<db:sql ><![CDATA[select * from BKL.dbo.GL00105&#93;&#93;></db:sql>
			</db:select>
			<ee:transform doc:name="Source to Stage Conversion" doc:id="24150448-68b1-41dd-8011-694d49d379be" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
				</ee:message>
			</ee:transform>
			<snowflake:bulk-insert doc:name="Loading Data from Source to Stage" doc:id="a22fc23c-4e0b-4a98-ba65-0a297b6f657f" config-ref="larson_snowflake" >
				<snowflake:sql ><![CDATA[INSERT INTO STGFIN_BKLGL00105(ACTINDX, ACTNUMBR_1, ACTNUMBR_2, ACTNUMBR_3, ACTNUMBR_4, ACTNUMST, DEX_ROW_ID)
VALUES(:ACTINDX, :ACTNUMBR_1, :ACTNUMBR_2, :ACTNUMBR_3, :ACTNUMBR_4, :ACTNUMST, :DEX_ROW_ID)
&#93;&#93;></snowflake:sql>
			</snowflake:bulk-insert>
			<ee:transform doc:name="Stage to Raw Conversion" doc:id="971d7c35-8e2d-490e-b179-9b2aec9d2b26" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
				</ee:message>
			</ee:transform>
			<snowflake:execute-script doc:name="Truncate and Load BKL_GL00105 to Raw" doc:id="640e9077-3720-4578-bb27-5475c4f1ba26" config-ref="larson_snowflake" file="sql/Larson_BKLGL00105.sql" />
			<logger level="INFO" doc:name="Load success message" doc:id="2540d2f6-f130-4364-88eb-68a7828c68be" message="FINANCIAL-LARSON-BKL-GL00105 Loaded Successfully" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3b073cbc-4522-44d8-9051-754ea04956db" >
					<logger level="ERROR" doc:name="Error Message" doc:id="0d68a173-cc6c-497f-a3be-80eea0a08992" message="FINANCIAL-LARSON-BKL-GL00105 has an error" />
				</on-error-propagate>
			</error-handler>
		</try>
	</flow> [STUDIO] -->
	<flow name="FINANCIAL-LARSON-BKL-SY40100" doc:id="6257e58c-3c30-4d37-993e-2fce16f4e050" >
		<scheduler doc:name="Daily" doc:id="85770e80-5b1e-450a-a268-e6c5bd5fd02b" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="MINUTES" />
			</scheduling-strategy>
		</scheduler>
		<try doc:name="Try" doc:id="562fd77b-c6bc-44a1-adb7-b7467ce17a49" >
			<db:select doc:name="Larson_Source" doc:id="1731799b-2281-4603-ad46-86dc74f31c7b" config-ref="larson_source" >
				<db:sql ><![CDATA[select * from BKL.dbo.SY40100]]></db:sql>
			</db:select>
			<ee:transform doc:name="Source to Stage Conversion" doc:id="e37a773d-ef89-4dfe-bf81-d1a5e94d634e" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<snowflake:bulk-insert doc:name="Loading Data from Source to Stage" doc:id="94616b6f-57ff-4a68-850e-d15b6e8a5916" config-ref="larson_snowflake" >
				<snowflake:sql ><![CDATA[INSERT INTO STGFIN_BKLSY40100(CLOSED, SERIES, ODESCTN, FORIGIN, PERIODID, PERIODDT, PERNAME, PSERIES_1, PSERIES_2, PSERIES_3,
                     PSERIES_4, PSERIES_5, PSERIES_6, YEAR1, PERDENDT, DEX_ROW_TS, DEX_ROW_ID)
VALUES(:CLOSED, :SERIES, :ODESCTN, :FORIGIN, :PERIODID, :PERIODDT, :PERNAME, :PSERIES_1, :PSERIES_2, :PSERIES_3,
                     :PSERIES_4, :PSERIES_5, :PSERIES_6, :YEAR1, :PERDENDT, :DEX_ROW_TS, :DEX_ROW_ID)
]]></snowflake:sql>
			</snowflake:bulk-insert>
			<ee:transform doc:name="Stage to Raw Conversion" doc:id="5b6f0199-44ea-423b-bb0b-b733bd708eec" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<snowflake:execute-script doc:name="Truncate and Load BKL_SY40100 to Raw" doc:id="f1241df5-4ea1-4c22-8d43-2f832f8cce54" config-ref="larson_snowflake" file="sql/Larson_BKLSY40100.sql" />
			<logger level="INFO" doc:name="Load success message" doc:id="72e9bc84-67f4-41b6-9d50-ae7a8d7106a4" message="FINANCIAL-LARSON-BKL-SY40100 Loaded Successfully" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="94c58bc9-a766-4455-bb16-17c868d70e47" >
					<logger level="ERROR" doc:name="Error Message" doc:id="aa653934-407e-47e5-9601-9fd8b31049b0" message="FINANCIAL-LARSON-BKL-SY40100 has an error" />
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>
</mule>
