src/main/mule/sandbox-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
<!-- [STUDIO:"sandbox-demoFlow"]	<flow name="sandbox-demoFlow" doc:id="ecaa91e7-9c78-4cb9-9ccf-f9e6563e8ca6" >
		<scheduler doc:name="Scheduler" doc:id="f5e690c6-6f77-4063-9aad-d24e252a9caf" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="39a25814-0990-43ff-be2f-cf56841704bd" message="Starting Flow"/>
		<db:select doc:name="Select" doc:id="74414dcb-8f29-41d7-9c77-b68f021b4e4a" config-ref="crompco_sales_source">
			<db:sql ><![CDATA[SELECT * FROM service.invoice&#93;&#93;></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="2cacf2ab-e97b-4d2a-a84e-9dbb73f5f869" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
&#45;&#45;-
[payload&#93;&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<snowflake:bulk-insert doc:name="Bulk insert" doc:id="80c946ff-7b28-4e03-a99e-29932181c9c0" config-ref="crompco_snowflake">
			<snowflake:sql ><![CDATA[INSERT INTO CROMPCO_DEV.CROMPCO_STAGE.STSAL_INVOICE(invoice_id,entity_id,invoice_number,customer_work_number,invoice_notes,invoice_template_id,customer_contact_id,location_id,file_id,invoice_date,invoice_total,invoice_sub_total,sales_tax,published,closed,create_by,created_at,updated_at,deleted_at)
VALUES(:invoice_id, :entity_id, :invoice_number, :customer_work_number, :invoice_notes, :invoice_template_id, :customer_contact_id, :location_id, :file_id, :invoice_date, :invoice_total, :invoice_sub_total, :sales_tax, :published, :closed, :create_by, :created_at, :updated_at, :deleted_at)&#93;&#93;></snowflake:sql>
		</snowflake:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="abf4b0b1-e4d7-4ebc-99eb-ced75de44f75" message="#[payload&#93;"/>
		<logger level="INFO" doc:name="Logger" doc:id="da5d4b8d-4fa0-47df-a01b-1156b92fee35" message="Completed Successfully"/>
	</flow> [STUDIO] -->
	<flow name="FINANCIAL-LARSON-NMA-GL00105" doc:id="67e3dbe1-a5bb-4bd6-9408-81dc1f2eba56" >
		<scheduler doc:name="Daily" doc:id="154083d3-a579-407e-a909-ed1b6d4c6873" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="HOURS" />
			</scheduling-strategy>
		</scheduler>
		<try doc:name="Try" doc:id="c02b35c4-42a7-4764-95a0-5988688842aa" >
			<db:select doc:name="LARSON_source" doc:id="a21fde54-e860-4801-bd75-fab20fb2731a" config-ref="larson_source" >
				<db:sql ><![CDATA[select * from NMA.dbo.GL00105​;]]></db:sql>
			</db:select>
			<ee:transform doc:name="Source to Stage Conversion" doc:id="9edeccfb-94c7-4b04-af40-df35d1453795" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<snowflake:bulk-insert doc:name="Loading Data from Source to Stage" doc:id="50cc37df-9b82-41a1-a83c-6ef0a721ed81" config-ref="larson_snowflake" >
				<snowflake:sql ><![CDATA[insert into STGFIN_NMA_GL00105 (ACTINDX, ACTNUMBR_1, ACTNUMBR_2, ACTNUMBR_3, ACTNUMBR_4, ACTNUMST, DEX_ROW_ID)
VALUES(:ACTINDX, :ACTNUMBR_1, :ACTNUMBR_2, :ACTNUMBR_3, :ACTNUMBR_4, :ACTNUMST, :DEX_ROW_ID)]]></snowflake:sql>
			</snowflake:bulk-insert>
			<ee:transform doc:name="Stage to Raw Conversion" doc:id="f7f4cd97-9ca6-4858-8733-174fb65a5bc4" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<snowflake:execute-script doc:name="Truncate and Load Stage to Raw" doc:id="93f97de1-bd48-4c80-a69d-7292afa092a1" config-ref="larson_snowflake" file="sql/FIN_LARSON_NMA_GL00100.sql" />
			<logger level="INFO" doc:name="Load Success Message" doc:id="deb49859-f40c-4486-9af4-ea02ec012202" message="FINANCIAL-LARSON-NMA-GL00105 Loaded Successfully" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="09ed673e-6093-4d06-9aee-98b5374c0194" >
					<logger level="ERROR" doc:name="Error Message" doc:id="7dfa439f-5cc6-40a1-a4f3-e75bbea532ff" message="FINANCIAL-LARSON-NMA-GL00105 has an error" />
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>
</mule>
